* {
    margin: 0;
    padding: 10px;
}

body{
    background-color: #000000;
    border: #1a1922;
    border-width: 5px;
    border-style:groove;
}

.inputButton{
    margin : 0.5rem;
    max-width: 90%;
}

.rowField{
    display: flex;
    justify-content: space-between;
}

.small,
.medium,
.large{
    margin: 0.2rem;
    background-color: #2a1478;
    border: none;
    border-radius: 30em;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    color:  #a9a2f9
}

.small:hover,
.medium:hover,
.large:hover{
    background-color: #0f4493;
    color:  #95aade;    
}

.small{
    width : 30%
}

.medium{
    width : 100%
}

.large{
    width:100%
}